{% extends 'food/base.html' %}

{% block content %}
<style type="text/css">
	img{
		height: 70vh;
		width: 90%;
	}
	li{
		color: blue;
	}
</style>

<div class="w3-container">
		<img src="{{ post.image }}">
		<h4>{{ post.title }}</h4>
		<p><a href="{{ post.article_link }}">Original link</a></p>
		<div class="row">
			<div class="col-md-6">
				<p>{{ post.text|linebreaks }}</p>
			</div>
			<div class="col-md-6">
				<p>{{ post.ingredients|linebreaks}}</p>
			</div>
		</div><!-- end row -->

        <!--<h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>-->
    </div>
{% endblock %}